<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myst3ry.catchmovie">

    <application
        android:name=".CatchMovieApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_title"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Toolbar">
        <activity android:name=".ui.movie.activity.MoviesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.tvshow.activity.TvShowsActivity" />
        <activity android:name=".ui.person.activity.PersonsActivity" />
        <activity android:name=".ui.settings.SettingsStubActivity" />

        <activity android:name=".ui.movie.activity.MovieDetailActivity" />
        <activity android:name=".ui.tvshow.activity.TvShowDetailActivity" />
        <activity android:name=".ui.person.activity.PersonDetailActivity" />

        <activity android:name=".ui.movie.activity.MovieFindActivity" />
        <activity android:name=".ui.person.activity.PersonFindActivity" />
        <activity android:name=".ui.tvshow.activity.TvShowFindActivity" />
    </application>

</manifest>